<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
      <!--boostrap-->

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- CSS only -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <!--tipo de letra-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
    href="https://fonts.googleapis.com/css2?family=Fascinate&family=Playfair+Display:ital,wght@0,400;1,500;1,600&family=Titan+One&family=Ubuntu:wght@300;400&display=swap"
    rel="stylesheet">

    <!-- <link rel="stylesheet" href="../../assets/css/style.css"> -->
    <title>tienda</title>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark navegador w-100">


            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
              aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
        
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav mr-auto">
                <li class="nav-item ">
                  <a class="nav-link" href="../../index.html">home<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">creditos en linea</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">arrendamientos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link active" href="" >ventas</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">consigna tu propiedad</a>
                </li>
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="false">
                    Dropdown
                  </a>
                  <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" href="#">Something else here</a>
                  </div>
                </li>
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>

    </header>

    <main>
        <section>
            <div class="container ">
                <div class="row">
                    <div class="col-12 row-cols-md-5">
                        <img src="https://firebasestorage.googleapis.com/v0/b/juantiendatcc.appspot.com/o/libro1.jpg?alt=media&token=6acf4693-4bdc-4bce-9e5b-211702172eff" alt="">
                    </div>
                    <div class="col-12 row-cols-md-5">
                        <h3 class="">medellin</h3>
                        <h2 class="fw-bold ">650000</h2>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <i class="bi bi-star-fill"></i>
                        <br><br>
                        <img src="../../assets/img/maestro.png" class="img-fluid" alt="">
                        <img src="../../assets/img/american-express.png" class="img-fluid" alt="">
                        <img src="../../assets/img/visa.png" class="img-fluid"  alt="">

                        <h4><i class="bi bi-truck"></i> envio a nivel nacional</h4>
                        <p>conoce los tiempos y las formas de envio</p>

                        <h4 class="my-3">
                          <i class="bi bi-arrow-counterclockwise"></i>
                          devolucion gratis
                        </h4>
                        <p>tienes 30  dias desde que lo recibes</p>
                        <div>
                          <label class="form-label">cantidad </label>
                          <input type="number" placeholder="1" id="cantidad">
                        </div>

                        <button type="button" class="btn btn-primary">añadir al carrito</button>

                    </div>
                </div>
            </div>
        </section>
    </main>

    <footer>

    </footer>
    


    <script src="../cotrollers/controladorcompra.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js"
    integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
    crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js"
    integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
    crossorigin="anonymous"></script>

  <!-- JavaScript Bundle with Popper -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
    crossorigin="anonymous"></script>

</body>
</html>